<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback | SocioHub</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/home.css" type="text/css">
    <link rel="stylesheet" href="../../css/styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <nav>
        <div class="main-links">
            <a id="profileLink" href="../2practice/profile.html">Profile</a>
            <a id="myFilesLink" href="../1practice/home.html">My Files</a>
            <a id="myPLacesLink" href="../2practice/places.html">My Places</a>
            <a id="myFriendsLink" href="../3practice/friends.html">My Friends</a>
        </div>
        <div class="nav-links">
            <a id="feedback" href="#" onclick="window.location.href='../3practice/feedback.html'">Feedback</a>
            <a id="logout" href="#">Logout</a>
        </div>
    </nav>
</header>
<div class="container">
    <div class="title">
        <div class="left-section">
            <span id="titleText">Feedback</span>
        </div>
    </div>
    <div class="content">
        <form id="feedback-form">
            <div class="form-group-type">
                <label for="feedback-type">Type of Feedback:</label>
                <select id="feedback-type" name="feedbackType" class="styled-select">
                    <option value="default" disabled selected>Select type of feedback</option>
                    <option value="error">Error</option>
                    <option value="suggestion">Suggestion</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="feedback-message">Message:</label>
                <textarea class="styled-textarea" id="feedback-message" name="message" rows="4" cols="50"
                          placeholder="Write your message here..."></textarea>
            </div>
            <br>
            <div class="feedback-button-container">
                <button type="button" id="sendFeedbackButton">Send Feedback</button>
            </div>
        </form>
    </div>
</div>

<div id="overlay" class="overlay hidden"></div>
<div id="popup" class="popup hidden">
    <div class="popup-content">
        <p id="popupMessage"></p>
        <p id="closeMessage"></p>
    </div>
</div>
<script src="https://api.backendless.com/sdk/js/latest/backendless.min.js"></script>
<script src="../../js/3practice/feedback.js" defer></script>
<script src="../../js/app.js" defer></script>
</body>
</html>
