<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Friends | SocioHub</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/friends.css" type="text/css">
    <link rel="stylesheet" href="../../css/styles.css" type="text/css">
</head>
<body>
<header>
    <nav>
        <div class="main-links">
            <a id="profileLink" href="../2practice/profile.html">Profile</a>
            <a id="myFilesLink" href="../1practice/home.html">My Files</a>
            <a id="myPLacesLink" href="../2practice/places.html">My Places</a>
            <a id="myFriendsLink" href="../3practice/friends.html">My Friends</a>
        </div>
        <div class="nav-links">
            <a id="feedback" href="#" onclick="window.location.href='../3practice/feedback.html'">Feedback</a>
            <a id="logout" href="#">Logout</a>
        </div>
    </nav>
</header>
<div class="container">
    <div class="title">
        <div class="left-section">
            <span id="titleText">Friend Invites</span>
        </div>
    </div>

    <div class="content">
        <div id="nameSearchContainer" class="search-section">
            <div class="search-section-inside">
                <input type="text" id="emailInput" placeholder="Add a friend by email" style="flex: 1;">
                <button id="addFriendButton">Add</button>
            </div>
        </div>
    </div>

    <hr style="margin-bottom: 20px">

    <div class="invites-for-me">
        <h2>Invites for Me</h2>
        <div id="invitedFriendsContainer"></div>
    </div>


    <hr style="margin: 20px 0">

    <div class="pending-invites">
        <h2>Pending Invites</h2>
        <div id="pendingFriendsContainer"></div>
    </div>
</div>
</div>

<div id="overlay" class="hidden"></div>
<div id="popup" class="hidden">
    <p id="popupMessage"></p>
    <p id="closeMessage"></p>
</div>
<script src="https://api.backendless.com/sdk/js/latest/backendless.min.js"></script>
<script src="../../js/3practice/friends-invites.js" defer></script>
<script src="../../js/app.js" defer></script>
</body>
</html>