<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Password | SocioHub</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/profile-edit.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <nav>
        <a id="profileLink" href="#">Profile</a>
        <a id="myFilesLink" href="../1practice/home.html">My Files</a>
        <a id="myPLacesLink" href="places.html">My Places</a>
    </nav>
    <a id="logout" href="#">Logout</a>
</header>
<div class="container">
    <div class="title">
        <button id="backButton" onclick="window.location.href='profile.html'"><i class="fas fa-arrow-left"></i></button>
        <span id="titleText">Change Password</span>
    </div>
    <div class="content">
        <form id="editPasswordForm">
            <div class="form-group">
                <label for="oldPassword">Old Password:</label>
                <input type="password" id="oldPassword">
            </div>
            <div class="form-group">
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword">
            </div>
            <div class="button-container">
                <div class="button">
                    <input type="submit" value="Save Changes">
                </div>
            </div>
        </form>
    </div>
</div>
<div id="overlay" class="hidden"></div>
<div id="popup" class="hidden">
    <p id="popupMessage"></p>
    <p id="closeMessage"></p>
</div>
<script src="https://api.backendless.com/sdk/js/latest/backendless.min.js"></script>
<script src="../../js/2practice/profile-edit-password.js" defer></script>
<script src="../../js/app.js" defer></script>
</body>
</html>
