@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    position: relative;
}

.container {
    max-width: 1000px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    position: relative;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .title .left-section {
    display: flex;
    align-items: center;
}

.container .title .right-section {
    display: flex;
    align-items: center;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content {
    margin: 20px 0;
    position: relative;
}

.content p {
    text-align: center;
    color: #9b59b6;
}

.content ul {
    list-style: none;
    padding: 0;
}

.content li {
    background-color: #f1f1f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    word-break: break-all;
    position: relative;
}

.content li:hover {
    background-color: #e1e1e1;
}

.file-reference {
    text-decoration: none;
    color: #333;
}

#sharedWithMeFolder {
    background-color: #e1e1e1;
    font-weight: bold;
    cursor: pointer;
}

.content li.folder:hover {
    cursor: pointer;
}

.content li .downloadLink,
.content li .sharedDownloadLink {
    position: absolute;
    right: 70px;
    padding: 0 10px;
    text-decoration: none;
    color: #9b59b6;
    font-weight: 500;
    transition: all 0.3s ease;
}

.content li .sharedDownloadLink {
    right: 10px;
}

.content li .deleteLink {
    position: absolute;
    right: 10px;
    padding: 0 10px;
    text-decoration: none;
    color: #9b59b6;
    font-weight: 500;
    transition: all 0.3s ease;
}

.content li .deleteLink:hover,
.content li .downloadLink:hover,
.content li .sharedDownloadLink:hover {
    color: #71b7e6;
}

#uploadButton, #createDirButton {
    margin-left: 10px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    border: none;
    color: white;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    transition: all 0.3s ease;
    cursor: pointer;
}

#createDirButton {
    width: 40px;
    height: 40px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#uploadButton:hover, #createDirButton:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

#backButton {
    margin-right: 10px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
    color: white;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#backButton:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

.context-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 150px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.context-menu li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.context-menu li:last-child {
    border-bottom: none;
}

.context-menu li:hover {
    background: #71b7e6;
    color: white;
}

.feedback-button-container {
    display: flex;
    justify-content: center;
}
#sendFeedbackButton {
    height: 45px;
    width: 48%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    justify-content: center;
}

#sendFeedbackButton:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media (max-width: 584px) {
    #sendFeedbackButton {
        width: 100%;
        margin-bottom: 10px;
    }
}
.form-group-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px; /* Adjust margin as needed */
}

.form-group-type select {
    flex: 1; /* Take up remaining space */
    margin-left: 20px; /* Adjust margin as needed */
}

#feedback-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 500;
}

.styled-select, .styled-textarea {
    display: block;
    width: 100%; /* Ensure the elements take full width */
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    color: #333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.styled-select:focus, .styled-textarea:focus {
    border-color: #9b59b6;
    box-shadow: 0 0 5px rgba(155, 89, 182, 0.5);
    outline: none;
}

.styled-select:hover, .styled-textarea:hover {
    cursor: pointer;
    background-color: #fff;
}

.feedback-button-container {
    text-align: center; /* Center the button */
    margin-top: 20px;
}

#sendFeedbackButton {
    height: 45px;
    width: 200px; /* Adjust width as needed */
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

#sendFeedbackButton:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
