header {
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header nav a, header a#logout, header a#feedback {
    margin: 0 10px;
    background: white;
    border-radius: 5px;
    padding: 10px 20px;
    color: #9b59b6;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
}

header nav a:hover, header a#logout:hover, header a#feedback:hover {
    background: #71b7e6;
    color: white;
}

.nav-links, .main-links {
    display: flex;
}

.overlay,
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: opacity 0.5s ease-in-out;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 80%;
    padding: 20px;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
}

.popup-content {
    position: relative;
}

.popup p {
    font-size: 18px;
    color: #9b59b6;

}

#closeMessage {
    font-size: 14px;
    color: #aaa;
    margin-top: 20px;
}

.prompt-popup input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.prompt-popup button {
    padding: 10px 20px;
    background-color: #71b7e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Poppins', sans-serif;
}

.prompt-popup button:hover {
    background-color: #9b59b6;
}

.hidden {
    display: none;
}